{% extends "base.html" %}

{% block title %}Senha Alterada{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h2 class="mb-4">Senha Alterada com Sucesso!</h2>
                    <p>Sua senha foi alterada com sucesso. Você agora pode usar sua nova senha para acessar sua conta.</p>
                    
                    <div class="text-center mt-4">
                        <a href="{% url 'home' %}" class="btn btn-primary w-100">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
